.App {
  max-width: 960px;
  margin: 0 auto;
}
.App header {
  margin: 30px 0;
  font-size: 28px;
  font-weight: 500;
}
.App footer {
  font-size: 14px;
  margin: 30px 0;
}
.App a {
  color: rgb(253, 167, 54);
  text-decoration: none;
}
.App a:hover {
  color: rgb(253, 167, 54);
  text-decoration: underline;
}
